In [2]:
import pandas as pd

In [3]:
data_path = '../data/'
train_df = pd.read_csv(data_path+'train.csv')
test_df = pd.read_csv(data_path+'test.csv')
submission_df = pd.read_csv(data_path+'sample_submission.csv')
target_df = pd.read_csv(data_path+'revealed_targets.csv')

In [4]:
import matplotlib.pyplot as plt
round(train_df['time_id'].describe(), 2)

count    5237980.00
mean       13310.05
std         7619.27
min            0.00
25%         6729.00
50%        13345.00
75%        19907.00
max        26454.00
Name: time_id, dtype: float64

In [5]:
round(test_df['time_id'].describe(), 2)

count    33000.00
mean     26372.00
std         47.63
min      26290.00
25%      26331.00
50%      26372.00
75%      26413.00
max      26454.00
Name: time_id, dtype: float64

In [6]:
round(target_df['revealed_time_id'].describe(), 2)

count    33000.00
mean     26317.00
std         47.63
min      26235.00
25%      26276.00
50%      26317.00
75%      26358.00
max      26399.00
Name: revealed_time_id, dtype: float64

In [7]:
train_df

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.000000,-3.029704,0,0_0_0
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.000000,-5.519986,0,0_0_1
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.000000,-8.389950,0,0_0_2
3,3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.000000,-4.010200,0,0_0_3
4,4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.000000,-7.349849,0,0_0_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5237975,195,480,540,2440722.89,-1,1.000317,28280361.74,0.999734,0.999734,1.000317,32257.04,1.000434,319862.40,1.000328,2.310276,26454,480_540_195
5237976,196,480,540,349510.47,-1,1.000643,9187699.11,1.000129,1.000386,1.000643,205108.40,1.000900,93393.07,1.000819,-8.220077,26454,480_540_196
5237977,197,480,540,0.00,0,0.995789,12725436.10,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,1.169443,26454,480_540_197
5237978,198,480,540,1000898.84,1,0.999210,94773271.05,0.999210,0.999210,0.998970,125631.72,0.999210,669893.00,0.999008,-1.540184,26454,480_540_198
5237979,199,480,540,1884285.71,-1,1.002129,24073677.32,1.000859,1.001494,1.002129,250081.44,1.002447,300167.56,1.002274,-6.530285,26454,480_540_199

In [8]:
train_df[(train_df['stock_id']==0) & (train_df['date_id']==477)].loc[:, ['target', 'time_id']]

            target  time_id
5193980  -2.310276    26235
5194180  -7.200241    26236
5194380  -7.500052    26237
5194580 -12.480021    26238
5194780  -9.570122    26239
5194980  -9.859800    26240
5195180 -10.719895    26241
5195380  -3.319979    26242
5195580  -2.890229    26243
5195780   1.640320    26244
5195980  -1.119971    26245
5196180   1.189709    26246
5196380   2.280474    26247
5196580  -2.949834    26248
5196780  -4.169941    26249
5196980  -4.730225    26250
5197180   2.640486    26251
5197380  -2.509952    26252
5197580  -3.259778    26253
5197780   1.740456    26254
5197980   0.959635    26255
5198180  -0.420213    26256
5198380   0.029802    26257
5198580   0.909567    26258
5198780   1.460314    26259
5198980  -2.059937    26260
5199180   1.230240    26261
5199380   2.659559    26262
5199580  -2.120137    26263
5199780  -2.359748    26264
5199980  -0.399947    26265
5200180  -6.639957    26266
5200380  -4.820228    26267
5200580  -5.800128    26268
5200780  -6.560087    26269
5200980  -4.799962    26270
5201180  -4.720092    26271
5201380   4.190207    26272
5201580   1.319647    26273
5201780  -2.589822    26274
5201980  -0.489950    26275
5202180   1.260042    26276
5202380   6.610155    26277
5202580   0.959635    26278
5202780   1.449585    26279
5202980   5.110502    26280
5203180   2.230406    26281
5203380   1.029968    26282
5203580  -3.849864    26283
5203780  -1.620054    26284
5203980  -1.959801    26285
5204180  -1.659989    26286
5204380  -0.230074    26287
5204580   1.510382    26288
5204780  -0.230074    26289

In [9]:
test_df

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,time_id,row_id
0,0,478,0,3753451.43,-1,0.999875,11548975.43,NaN,NaN,0.999875,22940.00,1.000050,9177.60,1.000000,26290,478_0_0
1,1,478,0,985977.11,-1,1.000245,3850033.97,NaN,NaN,0.999940,1967.90,1.000601,19692.00,1.000000,26290,478_0_1
2,2,478,0,599128.74,1,1.000584,4359198.25,NaN,NaN,0.999918,4488.22,1.000636,34955.12,1.000000,26290,478_0_2
3,3,478,0,2872317.54,-1,0.999802,27129551.64,NaN,NaN,0.999705,16082.04,1.000189,10314.00,1.000000,26290,478_0_3
4,4,478,0,740059.14,-1,0.999886,8880890.78,NaN,NaN,0.999720,19012.35,1.000107,7245.60,1.000000,26290,478_0_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32995,195,480,540,2440722.89,-1,1.000317,28280361.74,0.999734,0.999734,1.000317,32257.04,1.000434,319862.40,1.000328,26454,480_540_195
32996,196,480,540,349510.47,-1,1.000643,9187699.11,1.000129,1.000386,1.000643,205108.40,1.000900,93393.07,1.000819,26454,480_540_196
32997,197,480,540,0.00,0,0.995789,12725436.10,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,26454,480_540_197
32998,198,480,540,1000898.84,1,0.999210,94773271.05,0.999210,0.999210,0.998970,125631.72,0.999210,669893.00,0.999008,26454,480_540_198
32999,199,480,540,1884285.71,-1,1.002129,24073677.32,1.000859,1.001494,1.002129,250081.44,1.002447,300167.56,1.002274,26454,480_540_199

In [10]:
target_df[(target_df['stock_id']==0) & (target_df['date_id']==478)]

,stock_id,date_id,seconds_in_bucket,time_id,revealed_target,revealed_date_id,revealed_time_id
0,0.0,478,0,26290,-2.310276,477.0,26235.0
200,0.0,478,10,26290,-7.200241,477.0,26236.0
400,0.0,478,20,26290,-7.500052,477.0,26237.0
600,0.0,478,30,26290,-12.480021,477.0,26238.0
800,0.0,478,40,26290,-9.570122,477.0,26239.0
1000,0.0,478,50,26290,-9.859800,477.0,26240.0
1200,0.0,478,60,26290,-10.719895,477.0,26241.0
1400,0.0,478,70,26290,-3.319979,477.0,26242.0
1600,0.0,478,80,26290,-2.890229,477.0,26243.0
1800,0.0,478,90,26290,1.640320,477.0,26244.0
2000,0.0,478,100,26290,-1.119971,477.0,26245.0
2200,0.0,478,110,26290,1.189709,477.0,26246.0
2400,0.0,478,120,26290,2.280474,477.0,26247.0
2600,0.0,478,130,26290,-2.949834,477.0,26248.0
2800,0.0,478,140,26290,-4.169941,477.0,26249.0
3000,0.0,478,150,26290,-4.730225,477.0,26250.0
3200,0.0,478,160,26290,2.640486,477.0,26251.0
3400,0.0,478,170,26290,-2.509952,477.0,26252.0
3600,0.0,478,180,26290,-3.259778,477.0,26253.0
3800,0.0,478,190,26290,1.740456,477.0,26254.0
4000,0.0,478,200,26290,0.959635,477.0,26255.0
4200,0.0,478,210,26290,-0.420213,477.0,26256.0
4400,0.0,478,220,26290,0.029802,477.0,26257.0
4600,0.0,478,230,26290,0.909567,477.0,26258.0
4800,0.0,478,240,26290,1.460314,477.0,26259.0
5000,0.0,478,250,26290,-2.059937,477.0,26260.0
5200,0.0,478,260,26290,1.230240,477.0,26261.0
5400,0.0,478,270,26290,2.659559,477.0,26262.0
5600,0.0,478,280,26290,-2.120137,477.0,26263.0
5800,0.0,478,290,26290,-2.359748,477.0,26264.0
6000,0.0,478,300,26290,-0.399947,477.0,26265.0
6200,0.0,478,310,26290,-6.639957,477.0,26266.0
6400,0.0,478,320,26290,-4.820228,477.0,26267.0
6600,0.0,478,330,26290,-5.800128,477.0,26268.0
6800,0.0,478,340,26290,-6.560087,477.0,26269.0
7000,0.0,478,350,26290,-4.799962,477.0,26270.0
7200,0.0,478,360,26290,-4.720092,477.0,26271.0
7400,0.0,478,370,26290,4.190207,477.0,26272.0
7600,0.0,478,380,26290,1.319647,477.0,26273.0
7800,0.0,478,390,26290,-2.589822,477.0,26274.0
8000,0.0,478,400,26290,-0.489950,477.0,26275.0
8200,0.0,478,410,26290,1.260042,477.0,26276.0
8400,0.0,478,420,26290,6.610155,477.0,26277.0
8600,0.0,478,430,26290,0.959635,477.0,26278.0
8800,0.0,478,440,26290,1.449585,477.0,26279.0
9000,0.0,478,450,26290,5.110502,477.0,26280.0
9200,0.0,478,460,26290,2.230406,477.0,26281.0
9400,0.0,478,470,26290,1.029968,477.0,26282.0
9600,0.0,478,480,26290,-3.849864,477.0,26283.0
9800,0.0,478,490,26290,-1.620054,477.0,26284.0
10000,0.0,478,500,26290,-1.959801,477.0,26285.0
10200,0.0,478,510,26290,-1.659989,477.0,26286.0
10400,0.0,478,520,26290,-0.230074,477.0,26287.0
10600,0.0,478,530,26290,1.510382,477.0,26288.0
10800,0.0,478,540,26290,-0.230074,477.0,26289.0

In [11]:
from sklearn.metrics import mean_squared_error
origin = train_df.loc[(train_df['stock_id']==2) & (train_df['date_id']==477), 'target']
revealed = target_df.loc[(target_df['stock_id']==2) & (target_df['date_id']==478), 'revealed_target']
mean_squared_error(origin,revealed)

0.0

In [12]:
train_df.iloc[-1]['time_id']

26454

In [13]:
test_df

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,time_id,row_id
0,0,478,0,3753451.43,-1,0.999875,11548975.43,NaN,NaN,0.999875,22940.00,1.000050,9177.60,1.000000,26290,478_0_0
1,1,478,0,985977.11,-1,1.000245,3850033.97,NaN,NaN,0.999940,1967.90,1.000601,19692.00,1.000000,26290,478_0_1
2,2,478,0,599128.74,1,1.000584,4359198.25,NaN,NaN,0.999918,4488.22,1.000636,34955.12,1.000000,26290,478_0_2
3,3,478,0,2872317.54,-1,0.999802,27129551.64,NaN,NaN,0.999705,16082.04,1.000189,10314.00,1.000000,26290,478_0_3
4,4,478,0,740059.14,-1,0.999886,8880890.78,NaN,NaN,0.999720,19012.35,1.000107,7245.60,1.000000,26290,478_0_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32995,195,480,540,2440722.89,-1,1.000317,28280361.74,0.999734,0.999734,1.000317,32257.04,1.000434,319862.40,1.000328,26454,480_540_195
32996,196,480,540,349510.47,-1,1.000643,9187699.11,1.000129,1.000386,1.000643,205108.40,1.000900,93393.07,1.000819,26454,480_540_196
32997,197,480,540,0.00,0,0.995789,12725436.10,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,26454,480_540_197
32998,198,480,540,1000898.84,1,0.999210,94773271.05,0.999210,0.999210,0.998970,125631.72,0.999210,669893.00,0.999008,26454,480_540_198
32999,199,480,540,1884285.71,-1,1.002129,24073677.32,1.000859,1.001494,1.002129,250081.44,1.002447,300167.56,1.002274,26454,480_540_199

In [14]:
submission_df

       time_id       row_id  target
0        26290      478_0_0       1
1        26290      478_0_1       1
2        26290      478_0_2       1
3        26290      478_0_3       1
4        26290      478_0_4       1
...        ...          ...     ...
32995    26454  480_540_195       1
32996    26454  480_540_196       1
32997    26454  480_540_197       1
32998    26454  480_540_198       1
32999    26454  480_540_199       1

[33000 rows x 3 columns]

In [15]:
pd.set_option('display.float_format','{:.2f}'.format)
def show_summary(df_):
    print(df_.shape)
    summary_df = pd.DataFrame({'feature':df_.dtypes.index, 'type':df_.dtypes.values})
    summary_df['유니크개수'] = df_.nunique().values
    summary_df['결측치'] = df_.isnull().sum(axis=0).values
    describe = df_.describe().T
    summary_df.loc[(summary_df['type']!='object'), 'mean'] = describe['mean'].values
    summary_df.loc[(summary_df['type']!='object'), 'std'] = describe['std'].values
    summary_df.loc[(summary_df['type']!='object'), 'min'] = describe['min'].values
    summary_df.loc[(summary_df['type']!='object'), 'max'] = describe['max'].values
    summary_df['1th'] = df_.iloc[0].values
    summary_df['2th'] = df_.iloc[1].values
    summary_df.loc[(summary_df['type']=='object')] = summary_df.loc[(summary_df['type']=='object')].fillna(0)
    summary_df = round(summary_df, 1)
    return summary_df

In [16]:
show_summary(train_df)

(5237980, 17)

,feature,type,유니크개수,결측치,mean,std,min,max,1th,2th
0,stock_id,int64,200,0,99.30,57.90,0.00,199.00,0,1
1,date_id,int64,481,0,241.50,138.50,0.00,480.00,0,0
2,seconds_in_bucket,int64,55,0,270.00,158.70,0.00,540.00,0,0
3,imbalance_size,float64,2971863,220,5715293.10,20515906.30,0.00,2982027811.70,3180602.69,166603.91
4,imbalance_buy_sell_flag,int64,3,0,-0.00,0.90,-1.00,1.00,1,-1
5,reference_price,float64,28741,220,1.00,0.00,0.90,1.10,1.00,1.00
6,matched_size,float64,2948862,220,45100245.30,139841291.30,4316.60,7713682054.00,13380276.64,1642214.25
7,far_price,float64,95739,2894342,1.00,0.70,0.00,438.00,NaN,NaN
8,near_price,float64,84625,2857180,1.00,0.00,0.80,1.30,NaN,NaN
9,bid_price,float64,28313,220,1.00,0.00,0.90,1.10,1.00,1.00
10,bid_size,float64,2591773,0,51813.60,111421.40,0.00,30287840.00,60651.50,3233.04
11,ask_price,float64,28266,220,1.00,0.00,0.90,1.10,1.00,1.00
12,ask_size,float64,2623254,0,53575.70,129355.40,0.00,54405000.00,8493.03,20605.09
13,wap,float64,31506,220,1.00,0.00,0.90,1.10,1.00,1.00
14,target,float64,15934,88,-0.00,9.50,-385.30,446.10,-3.03,-5.52
15,time_id,int64,26455,0,13310.10,7619.30,0.00,26454.00,0,0
16,row_id,object,5237980,0,0.00,0.00,0.00,0.00,0_0_0,0_0_1

In [17]:
show_summary(test_df)

(33000, 16)

,feature,type,유니크개수,결측치,mean,std,min,max,1th,2th
0,stock_id,int64,200,0,99.50,57.70,0.00,199.00,0,1
1,date_id,int64,3,0,479.00,0.80,478.00,480.00,478,478
2,seconds_in_bucket,int64,55,0,270.00,158.70,0.00,540.00,0,0
3,imbalance_size,float64,20327,0,6636938.90,18468274.40,0.00,478154802.30,3753451.43,985977.11
4,imbalance_buy_sell_flag,int64,3,0,-0.10,0.90,-1.00,1.00,-1,-1
5,reference_price,float64,5733,0,1.00,0.00,1.00,1.00,1.00,1.00
6,matched_size,float64,18595,0,50988974.40,169510516.90,4316.60,2834016755.10,11548975.43,3850033.97
7,far_price,float64,4269,18229,1.00,0.00,0.80,1.40,NaN,NaN
8,near_price,float64,5461,18000,1.00,0.00,0.90,1.10,NaN,NaN
9,bid_price,float64,5464,0,1.00,0.00,1.00,1.00,1.00,1.00
10,bid_size,float64,31160,0,63294.90,104273.60,25.90,3033797.90,22940.00,1967.90
11,ask_price,float64,5478,0,1.00,0.00,1.00,1.00,1.00,1.00
12,ask_size,float64,31186,0,66512.50,141507.30,35.30,13092094.40,9177.60,19692.00
13,wap,float64,7552,0,1.00,0.00,1.00,1.00,1.00,1.00
14,time_id,int64,165,0,26372.00,47.60,26290.00,26454.00,26290,26290
15,row_id,object,33000,0,0.00,0.00,0.00,0.00,478_0_0,478_0_1

In [18]:
show_summary(target_df)

(33162, 7)

,feature,type,유니크개수,결측치,mean,std,min,max,1th,2th
0,stock_id,float64,200,162,99.50,57.70,0.00,199.00,0.00,1.00
1,date_id,int64,3,0,479.00,0.80,478.00,480.00,478.00,478.00
2,seconds_in_bucket,int64,55,0,270.00,158.70,0.00,540.00,0.00,0.00
3,time_id,int64,165,0,26345.10,45.00,26290.00,26454.00,26290.00,26290.00
4,revealed_target,float64,4268,162,-0.20,8.00,-144.40,77.10,-2.30,-12.90
5,revealed_date_id,float64,3,162,478.00,0.80,477.00,479.00,477.00,477.00
6,revealed_time_id,float64,165,162,26317.00,47.60,26235.00,26399.00,26235.00,26235.00

In [21]:
train_df[train_df['date_id']>=478]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
5204980,0,478,0,3753451.43,-1,1.00,11548975.43,NaN,NaN,1.00,22940.00,1.00,9177.60,1.00,-5.43,26290,478_0_0
5204981,1,478,0,985977.11,-1,1.00,3850033.97,NaN,NaN,1.00,1967.90,1.00,19692.00,1.00,-1.87,26290,478_0_1
5204982,2,478,0,599128.74,1,1.00,4359198.25,NaN,NaN,1.00,4488.22,1.00,34955.12,1.00,-0.09,26290,478_0_2
5204983,3,478,0,2872317.54,-1,1.00,27129551.64,NaN,NaN,1.00,16082.04,1.00,10314.00,1.00,-7.61,26290,478_0_3
5204984,4,478,0,740059.14,-1,1.00,8880890.78,NaN,NaN,1.00,19012.35,1.00,7245.60,1.00,-3.29,26290,478_0_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5237975,195,480,540,2440722.89,-1,1.00,28280361.74,1.00,1.00,1.00,32257.04,1.00,319862.40,1.00,2.31,26454,480_540_195
5237976,196,480,540,349510.47,-1,1.00,9187699.11,1.00,1.00,1.00,205108.40,1.00,93393.07,1.00,-8.22,26454,480_540_196
5237977,197,480,540,0.00,0,1.00,12725436.10,1.00,1.00,1.00,16790.66,1.00,180038.32,1.00,1.17,26454,480_540_197
5237978,198,480,540,1000898.84,1,1.00,94773271.05,1.00,1.00,1.00,125631.72,1.00,669893.00,1.00,-1.54,26454,480_540_198
5237979,199,480,540,1884285.71,-1,1.00,24073677.32,1.00,1.00,1.00,250081.44,1.00,300167.56,1.00,-6.53,26454,480_540_199

In [20]:
test_df

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,time_id,row_id
0,0,478,0,3753451.43,-1,1.00,11548975.43,NaN,NaN,1.00,22940.00,1.00,9177.60,1.00,26290,478_0_0
1,1,478,0,985977.11,-1,1.00,3850033.97,NaN,NaN,1.00,1967.90,1.00,19692.00,1.00,26290,478_0_1
2,2,478,0,599128.74,1,1.00,4359198.25,NaN,NaN,1.00,4488.22,1.00,34955.12,1.00,26290,478_0_2
3,3,478,0,2872317.54,-1,1.00,27129551.64,NaN,NaN,1.00,16082.04,1.00,10314.00,1.00,26290,478_0_3
4,4,478,0,740059.14,-1,1.00,8880890.78,NaN,NaN,1.00,19012.35,1.00,7245.60,1.00,26290,478_0_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32995,195,480,540,2440722.89,-1,1.00,28280361.74,1.00,1.00,1.00,32257.04,1.00,319862.40,1.00,26454,480_540_195
32996,196,480,540,349510.47,-1,1.00,9187699.11,1.00,1.00,1.00,205108.40,1.00,93393.07,1.00,26454,480_540_196
32997,197,480,540,0.00,0,1.00,12725436.10,1.00,1.00,1.00,16790.66,1.00,180038.32,1.00,26454,480_540_197
32998,198,480,540,1000898.84,1,1.00,94773271.05,1.00,1.00,1.00,125631.72,1.00,669893.00,1.00,26454,480_540_198
32999,199,480,540,1884285.71,-1,1.00,24073677.32,1.00,1.00,1.00,250081.44,1.00,300167.56,1.00,26454,480_540_199

In [22]:
submission_df

       time_id       row_id  target
0        26290      478_0_0       1
1        26290      478_0_1       1
2        26290      478_0_2       1
3        26290      478_0_3       1
4        26290      478_0_4       1
...        ...          ...     ...
32995    26454  480_540_195       1
32996    26454  480_540_196       1
32997    26454  480_540_197       1
32998    26454  480_540_198       1
32999    26454  480_540_199       1

[33000 rows x 3 columns]